<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/pygment_trac.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/print.css" media="print"/>
    <title>{{ page.title }}</title>
</head>

<body>
<a href="https://github.com/ashrafuzzaman/query_report"><img style="position: absolute; top: 0; left: 0; border: 0;"
                                                             src="/images/forkme_left_orange_ff7600.png"
                                                             alt="Fork me on GitHub"></a>
<header>
    <div class="container">
        <a href="{{ site.baseurl }}"><h1>Query report</h1></a>
        <h2>It helps you to structure reports of you application, and make them DRY</h2>
    </div>
</header>

<div class="container">
    <section id="menu_content">
        <h1>Customize</h1>
        <ul>
            {% for post in site.posts reversed %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </section>
    <section id="main_content">
        {{ content }}
    </section>
    <p>MIT License. Copyright © 2013 <a href="http://www.ashrafuzzaman.com">Ashrafuzzaman</a>. See MIT-LICENSE for further details.</p>
</div>
</body>
</html>